<div class='y-page-base perspective y-background-lightness-{{model.backgroundLightness}} theme-{{model.backgroundLightness}}'>
  <div class='y-page y-page-base {{themeClasses}}  {{unless hasTabBar 'no-tab-bar'}}'>
    <div class="TitleBar">
      {{#liquid-bind titleBarInfo rules=titleBarTransitionRules as |currentTitleBarInfo|}}
        {{component currentTitleBarInfo.component}}
      {{/liquid-bind}}
    </div>
    <div class={{concat 'silo-container layer-' layer}} style="left: 0;">
      {{#each components as |stackItemComponent index|}}
        <div class={{concat 'silo-outlet silo-' index '-outlet'}}>
          {{#if (lte (sub stackDepth index) 2)}}
            {{component stackItemComponent}}
          {{/if}}
        </div>
      {{/each}}
    </div>
    {{#if hasTabBar}}
      <div class="TabBar">
        <ul>
          <li>{{#link-to 'page' 1}}Page 1{{/link-to}}</li>
          <li>{{#link-to 'page' 2}}Page 2{{/link-to}}</li>
          <li>{{#link-to 'yapp.more'}}More{{/link-to}}</li>
        </ul>
      </div>
    {{/if}}
  </div>
</div>
