<div class='y-page-base perspective y-background-lightness-{{model.backgroundLightness}} theme-{{model.backgroundLightness}}'>
  <div class='y-page y-page-base {{themeClasses}}  {{unless hasTabBar 'no-tab-bar'}}'>
    <div class="TitleBar">
      {{#from-elsewhere name=(concat 'layer-' layerIndex '-title-bar') as |titleBarComponent|}}
        {{#liquid-bind (hash c=titleBarComponent m=titleBarComponent.model) rules=titleBarTransitionRules as |hash|}}
          {{component hash.c}}
        {{/liquid-bind}}
      {{/from-elsewhere}}
    </div>
    <div class={{concat 'silo-container layer-' layerIndex}} style="left: 0;">
      {{#each (array 0 1 2 3 4) as |siloIndex|}}
        <div class={{concat 'silo-outlet silo-' siloIndex '-outlet'}}>
          {{#from-elsewhere name=(concat 'layer-' layerIndex '-silo-' siloIndex) as |screenComponent|}}
            {{#liquid-bind (hash c=screenComponent m=screenComponent.model) rules=siloTransitionRules as |hash|}}
              {{component hash.c}}
            {{/liquid-bind}}
          {{/from-elsewhere}}
        </div>
      {{/each}}
    </div>
    {{#if hasTabBar}}
      <div class="TabBar">
        <ul>
          <li>{{#link-to 'page' 1}}Page 1{{/link-to}}</li>
          <li>{{#link-to 'page' 2}}Page 2{{/link-to}}</li>
        </ul>
      </div>
    {{/if}}
  </div>
</div>
